[submodule "hugo-theme-stack"]
	path = hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "content/post/00076/themes/hugo-video"]
	path = content/post/00076/themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/dream"]
	path = themes/dream
	url = git@github.com:g1eny0ung/hugo-theme-dream
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = git@github.com:CaiJimmy/hugo-theme-stack
